@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap);#app[data-v-5fdf2371] {
    min-height: 100vh;}
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Open Sans, sans-serif;
}

.purple{
    color: #6030b1;
}



a{
      text-decoration: none;
}

li{
    list-style-type: none;
}
h1{
    font-size: 30px;
    line-height: 1.25;
}
section{
    background-color: #fff;
}




/*
NAV
*/


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.nav__link--list{
    display: flex;

}

.nav__link{
    margin: 0 12px;
    text-decoration: none;
  
}
.nav__link-anchor{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}


.nav__link-anchor--black{
color: black;
}

.nav__link--primary{
    text-transform: uppercase;
    padding: 10px 32px;
    border-radius: 9999px;
    border-color: none;
    background-color: #6030b1;
    color: #fff;
    font-size: 16px;
    width: auto;
    line-height: 1.5;
}

.nav__link--primary:hover{
    background-color: rgb(39, 241, 238);
    color: #ff328f;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.logo{
    height: 40px;
    width: 150px;
}

.link__hover-effect{
    position: relative;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: #6030b1;
    transition: all 300ms ease;

}

.link__hover-effect--black:hover:after{
    background-color: black;
}
 


.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}


/*
HEADER/LANDING
*/

#landing-page{
    min-height: 100vh;
}

.landing__title{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        color: #6030b1;

}

.landing__container{
    display: flex;
    flex-wrap: wrap;
 flex-direction: column;
}

.landing__decscription{
  margin: 0 auto;
  padding-bottom:24px ;
 text-transform: uppercase;
}

.landing__img{
   height: 50vh;
   margin-left: 200px;
   margin-top: 100px;
}

.input__wrapper--text{
    width: 100%;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 500px;
    padding: 20px 12px 20px 32px;
    font-size: 14px;
    font-weight: 500;
    z-index: 1;
}

.input-wrapper{
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex;
}

.input-wrapper:hover{
    border-color: rgb(0, 0, 0);
    transition: border all 600ms ease;
     transform: scale(1.07);
}


.btn{
    z-index: 2;
    margin: 8px;
    height: calc(100%-16px);
    border-radius: 500px;
    width: 160px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    background-color: #6030b1;
    color:rgb(39, 241, 238) ;
    font-weight: bolder;
    transition: all 300ms;
}

.btn:hover{
    background-color:#ff328f;
    color: #f9f6f7;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.fa-solid .fa-magnifying-glass{
    color: #f0f8fd;
    overflow:visible;
    display: block;
    
}

/*
CAR
*/

.car-wrapper{
    transform: translateX(0%);
    transition: all 2s ease-in-out;
    z-index: 1000;
    width: 100%;

}

.car__modal{
     margin-bottom: -30px;
    width: 700px;
    margin: 0 auto;
    position: relative;
}

.car__img{
  opacity: 0;
    position: absolute;
    bottom: 38.2%;
    left: 1.1%;
    width: 6%;
   
}

.wheel{
    position: absolute;
    bottom: .8%;
    width: 17%;
}

.wheel:before{
    content: "";
    display: block;
    padding-top: 100%;
    box-sizing: inherit;
}

.wheel1{
    left: 9.75%;

}

.wheel2{
    right: 9%;
}



