*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Open Sans, sans-serif;
}

.purple{
    color: #6030b1;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    
}

a{
      text-decoration: none;
}

li{
    list-style-type: none;
}
h1{
    font-size: 30px;
    line-height: 1.25;
}
section{
    background-color: #fff;
}


*/

/*
NAV
*/


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.nav__link--list{
    display: flex;

}

.nav__link{
    margin: 0 12px;
    text-decoration: none;
  
}
.nav__link-anchor{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}


.nav__link-anchor--black{
color: black;
}

.nav__link--primary{
    text-transform: uppercase;
    padding: 10px 32px;
    border-radius: 9999px;
    border-color: none;
    background-color: #6030b1;
    color: #fff;
    font-size: 16px;
    width: auto;
    line-height: 1.5;
}

.logo{
    height: 40px;
    width: 150px;
}

.link__hover-effect{
    position: relative;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 100%;
    background-color: #6030b1;
    transition: all 300ms ease;

}

.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}


/*
HEADER/LANDING
*/

#landing-page{
    min-height: 100vh;
}

.landing__title{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        color: #6030b1;

}

.landing__container{
    display: flex;
    flex-wrap: wrap;
 flex-direction: column;
}

.landing__decscription{
  margin: 0 auto;
  padding-bottom:24px ;
 text-transform: uppercase;
}

.landing__img{
   height: 50vh;
   margin-left: 200px;
   margin-top: 100px;
}

.input__wrapper--text{
    width: 100%;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 500px;
    padding: 20px 12px 20px 32px;
    font-size: 14px;
    font-weight: 500;
    z-index: 1;
}

.input-wrapper{
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex;
}

.btn{
    z-index: 2;
    margin: 8px;
    height: calc(100%-16px);
    border-radius: 500px;
    width: 160px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    color: #fff;
    background-color: #6030b1;
    font-weight: bolder;
    transition: all 300ms;
}

.fa-solid {
    color: #f0f8fd;
}